.chat-main
  .chat-main__group-info
    .chat-main__group-name
      test
      .chat-main__group-name__member-name
        Menber:masa
    .chat-main__edit-btn
      = link_to "#", class:"chat-main__edit-btn__link" do
        Edit
  .chat-main__message-list
    .chat-main__message-list__database
      .chat-main__message-list__database__info
        .chat-main__message-list__database__info__user-name
          masa
        .chat-main__message-list__database__info__data
          2020/04/14(thu)17:00
      .chat-main__message-list__database__text
        おはよう
  .chat-main__message-form
    .chat-main__message-form__new-message
      .chat-main__message-form__new-message__input-box
        .chat-main__message-form__new-message__input-box__text
          type a message
        .chat-main__message-form__new-message__input-box__image
          -# = link_to "#", class:"image-icon" do
          %label{class: "image-icon", for: "file_field"}
            = icon('far', 'image')
            %input{type: "file", id: "file_field"}
    .chat-main__message-form__submit
      = link_to "#", class:"submit-btn" do
        Sent

